In [1]:
import pandas as pd

# Replace 'path_to_file' with the actual path to your CSV file
csv_file_path = "C:\Professional\MS\SHU\Dissertation\Input_data\Race.csv"

# Read the CSV file into a pandas DataFrame, skipping the first row (header)
df = pd.read_csv(csv_file_path, skiprows=1)

In [2]:
# Include the 'Geography' column in the list of columns to extract
desired_columns = ['Geography'] + [col for col in df.columns if col.startswith('Estimate') and ('Percent' not in col)]

# Extract the desired columns
df_extracted = df[desired_columns]

# Display the extracted DataFrame
print(df_extracted)

# Verify the columns that were removed are not required in the analysis
removed_columns = list(set(df.columns) - set(df_extracted.columns))

            Geography  Estimate!!Total:  Estimate!!Total:!!White alone  \
0      860Z200US00601             17126                          14463
1      860Z200US00602             37895                          23237
2      860Z200US00603             49136                          36497
3      860Z200US00606              5751                           3319
4      860Z200US00610             26153                          15815
...               ...               ...                            ...
33769  860Z200US99923                13                             13
33770  860Z200US99925               917                            411
33771  860Z200US99926              1445                             92
33772  860Z200US99927                11                             11
33773  860Z200US99929              2161                           1274

       Estimate!!Total:!!Black or African American alone  \
0                                                    243
1                                                    688
2                                                   1681
3                                                     27
4                                                    642
...                                                  ...
33769                                                  0
33770                                                  4
33771                                                  0
33772                                                  0
33773                                                  3

       Estimate!!Total:!!American Indian and Alaska Native alone  \
0                                                     13
1                                                     44
2                                                     54
3                                                     21
4                                                      0
...                                                  ...
33769                                                  0
33770                                                335
33771                                               1304
33772                                                  0
33773                                                495

       Estimate!!Total:!!Asian alone  \
0                                  2
1                                 46
2                                 38
3                                  0
4                                  0
...                              ...
33769                              0
33770                              7
33771                              6
33772                              0
33773                             41

       Estimate!!Total:!!Native Hawaiian and Other Pacific Islander alone  \
0                                                      0
1                                                      0
2                                                      0
3                                                      0
4                                                      0
...                                                  ...
33769                                                  0
33770                                                  0
33771                                                  0
33772                                                  0
33773                                                 45

       Estimate!!Total:!!Some other race alone  \
0                                         1517
1                                         1475
2                                         7116
3                                         2123
4                                         1480
...                                        ...
33769                                        0
33770                                        0
33771                                       14
33772                                        0
33773                                       32

       Estimate!!Total:!!Two or more races:  \
0                                       888
1                                     12405
2                                      3750
3                                       261
4                                      8216
...                                     ...
33769                                     0
33770                                   160
33771                                    29
33772                                     0
33773                                   271

       Estimate!!Total:!!Two or more races:!!Two races including Some other race  \
0                                                    777
1                                                   2359
2                                                   2978
3                                                    243
4                                                   1962
...                                                  ...
33769                                                  0
33770                                                  7
33771                                                  7
33772                                                  0
33773                                                 23

       Estimate!!Total:!!Two or more races:!!Two races excluding Some other race, and three or more races
0                                                    111
1                                                  10046
2                                                    772
3                                                     18
4                                                   6254
...                                                  ...
33769                                                  0
33770                                                153
33771                                                 22
33772                                                  0
33773                                                248

[33774 rows x 11 columns]

In [3]:
# Create a list of columns related to age
race_columns = [col for col in df_extracted.columns if "Estimate!!Total:!!" in col]

# Create a new DataFrame containing only the 'Geography' and age and sex related columns
race_dataframe = df_extracted[['Geography'] + race_columns]

# Pivot age_dataframe
race_dataframe_melted = pd.melt(df_extracted, id_vars=['Geography'], value_vars=race_columns,
                              var_name='Race', value_name='Total_Population')
race_pivot_table = pd.pivot_table(race_dataframe_melted, index=['Geography', 'Race'], 
                                 values='Race', aggfunc='sum')

# Display the pivot table for age_dataframe
print("\nPivot Table for Race DataFrame:")
print(race_pivot_table)

Pivot Table for Race DataFrame:
                                                                   Total_Population
Geography      Race
860Z200US00601 Estimate!!Total:!!American Indian and Alaska Na...                13
               Estimate!!Total:!!Asian alone                                      2
               Estimate!!Total:!!Black or African American alone                243
               Estimate!!Total:!!Native Hawaiian and Other Pac...                 0
               Estimate!!Total:!!Some other race alone                         1517
...                                                                             ...
860Z200US99929 Estimate!!Total:!!Some other race alone                           32
               Estimate!!Total:!!Two or more races:                             271
               Estimate!!Total:!!Two or more races:!!Two races...               248
               Estimate!!Total:!!Two or more races:!!Two races...                23
               Estimate!!Total:!!White alone                                   1274

[303966 rows x 1 columns]

In [4]:
# Convert age_pivot_table to a DataFrame
race_pivot_table = race_pivot_table.reset_index()

# Display the age_pivot_table_df
print("\nRace Pivot Table as DataFrame:")
print(race_pivot_table)

Race Pivot Table as DataFrame:
             Geography                                               Race  \
0       860Z200US00601  Estimate!!Total:!!American Indian and Alaska N...
1       860Z200US00601                      Estimate!!Total:!!Asian alone
2       860Z200US00601  Estimate!!Total:!!Black or African American alone
3       860Z200US00601  Estimate!!Total:!!Native Hawaiian and Other Pa...
4       860Z200US00601            Estimate!!Total:!!Some other race alone
...                ...                                                ...
303961  860Z200US99929            Estimate!!Total:!!Some other race alone
303962  860Z200US99929               Estimate!!Total:!!Two or more races:
303963  860Z200US99929  Estimate!!Total:!!Two or more races:!!Two race...
303964  860Z200US99929  Estimate!!Total:!!Two or more races:!!Two race...
303965  860Z200US99929                      Estimate!!Total:!!White alone

        Total_Population
0                     13
1                      2
2                    243
3                      0
4                   1517
...                  ...
303961                32
303962               271
303963               248
303964                23
303965              1274

[303966 rows x 3 columns]

In [5]:
# Extracting the race as a new variable
race_pivot_table['Race'] = race_pivot_table['Race'].str.split("!!").str[2]

In [6]:
race_pivot_table= race_pivot_table.groupby(['Geography','Race']).sum('Total_Population').reset_index()

In [22]:
pivot_table = race_pivot_table.pivot_table(index="Geography", columns="Race", values="Total_Population", aggfunc="sum")

In [32]:
# Save the output to a csv
pivot_table.to_csv('Race_cleaned.csv',index=True)