In [1]:
import pandas as pd
import hashlib

# Load the original CSV file
csv_file_path = r"C:\Professional\MS\SHU\Dissertation\Input_data\restaurants.csv"

input_data_df = pd.read_csv(csv_file_path,encoding ='utf-8')

In [2]:
input_data_df

,id,position,name,score,ratings,category,price_range,full_address,zip_code,lat,lng
0,1,19,PJ Fresh (224 Daniel Payne Drive),NaN,NaN,"Burgers, American, Sandwiches",$,"224 Daniel Payne Drive, Birmingham, AL, 35207",35207,33.562365,-86.830703
1,2,9,J' ti`'z Smoothie-N-Coffee Bar,NaN,NaN,"Coffee and Tea, Breakfast and Brunch, Bubble Tea",NaN,"1521 Pinson Valley Parkway, Birmingham, AL, 35217",35217,33.583640,-86.773330
2,3,6,Philly Fresh Cheesesteaks (541-B Graymont Ave),NaN,NaN,"American, Cheesesteak, Sandwiches, Alcohol",$,"541-B Graymont Ave, Birmingham, AL, 35204",35204,33.509800,-86.854640
3,4,17,Papa Murphy's (1580 Montgomery Highway),NaN,NaN,Pizza,$,"1580 Montgomery Highway, Hoover, AL, 35226",35226,33.404439,-86.806614
4,5,162,Nelson Brothers Cafe (17th St N),4.7,22.0,"Breakfast and Brunch, Burgers, Sandwiches",NaN,"314 17th St N, Birmingham, AL, 35203",35203,33.514730,-86.811700
...,...,...,...,...,...,...,...,...,...,...,...
40222,40223,54,Mangia la pasta! (5610 N Interstate Hwy 35),4.8,500.0,"Pasta, Comfort Food, Italian, Group Friendly",$,"5610 N I35, Austin, TX, 78751",78751,30.316248,-97.708441
40223,40224,53,Wholly Cow Burgers (S Lamar),4.6,245.0,"American, Burgers, Breakfast and Brunch, Aller...",$,"3010 S Lamar Blvd, Austin, TX, 78704",78704,30.242816,-97.783821
40224,40225,52,EurAsia Ramen 3,4.7,293.0,"Sushi, Asian, Japanese, Exclusive to Eats, Gro...",$,"5222 Burnet Road, Austin, TX, 78756",78756,30.324290,-97.740200
40225,40226,51,Austin's Habibi (5th St),4.7,208.0,"Mediterranean, Gluten Free Friendly, Allergy F...",$$,"817 W 5th St, Austin, TX, 78703",78703,30.269580,-97.753110
40226,40227,50,Beijing Wok,4.4,254.0,"Chinese, Asian, Asian Fusion, Family Friendly,...",$,"8106 Brodie Ln, Austin, TX, 78749",78749,30.202210,-97.838689

In [153]:
df_req = input_data_df[['name','score','ratings','category','price_range','zip_code']]

In [154]:
df_req['price_range'] = df_req['price_range'].apply(lambda x: 1 if x == '$' else (2 if x == '$$' else (3 if x == '$$$' else (4 if x == '$$$$' else 99))))

C:\Users\nikhi\AppData\Local\Temp\ipykernel_21468\2184654435.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_req['price_range'] = df_req['price_range'].apply(lambda x: 1 if x == '$' else (2 if x == '$$' else (3 if x == '$$$' else (4 if x == '$$$$' else 99))))

In [99]:

# Split the category column into separate elements
df_req['category'] = df_req['category'].str.split(', ')
df_req =df_req.explode('category')

C:\Users\nikhi\AppData\Local\Temp\ipykernel_21468\257487094.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_req['category'] = df_req['category'].str.split(', ')

In [218]:
def extract_cuisine_name(categories):
    if isinstance(categories, str):  # Check if categories is not NaN
        cuisine_list = ["American","Asian","Italian", "Chinese", "Japanese", "Mexican",
                        "Indian", "Thai", "French", "German","African","Spanish", "Greek", "Middle Eastern",
                        "Korean", "Vietnamese", "Brazilian", "Turkish", "Moroccan","Caribbean",
                        "Desserts","Coffee","Pizza","Mediterranean","Sandwich","Juice","Burgers","Salads","Ice cream","BBQ"]

        for cuisine in cuisine_list:
            if cuisine in categories:
                return cuisine
            
    return "Other"

df_req['category_1'] = df_req['category'].apply(extract_cuisine_name)

C:\Users\nikhi\AppData\Local\Temp\ipykernel_21468\1012203018.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_req['category_1'] = df_req['category'].apply(extract_cuisine_name)

In [219]:
df_req[df_req['category_1']=='Other']

,name,score,ratings,category,price_range,zip_code,category_1
16,Exotic Wings &amp; Things,NaN,NaN,"Halal, Chicken, Wings",99,35205,Other
33,Gus's Hot Dogs,NaN,NaN,Hot Dog,2,35005,Other
38,Underground Vegan,4.8,62.0,"Vegan, Healthy, Vegetarian",1,35205,Other
39,Cicis (808 Greensprings Highway Suite 132),4.4,21.0,pizza,1,35209,Other
78,The Vegan Bowl,NaN,NaN,"Vegetarian, Vegan, Healthy",99,35233,Other
...,...,...,...,...,...,...,...
39837,Hawaii Nei Cafe,4.9,50.0,"Hawaiian, Street Food, Seafood",1,78745,Other
39938,Dunkin (12200 Research Blvd),4.4,67.0,"Breakfast &amp; Brunch, Donuts",1,78759,Other
39976,Terry's Seafood and Chicken,4.5,133.0,"Seafood, Chicken, Family Meals",2,78702,Other
40043,Revolution Vegan Kitchen,4.9,23.0,"Tex Mex, Allergy Friendly",1,78745,Other
40128,Iron Cactus (Downtown),3.5,11.0,"Tex Mex, Gluten Free Friendly, Tacos",2,78701,Other

In [220]:
# Get unique categories
unique_categories = len(df_req['category_1'].unique())
unique_categories1 = df_req['category_1'].unique()
print("Unique Categories:", unique_categories)

Unique Categories: 31

In [221]:
# Fill null values with random value
df_req['zip_code'].fillna('11111', inplace=True)
# Extract substring before hyphen for valid zip codes
df_req['zip_code'] = df_req['zip_code'].apply(lambda x: x.split('-')[0] if '-' in x else x)

import re
# Replace invalid zip codes with '11111'
invalid_zip_mask = df_req['zip_code'].apply(lambda x: bool(re.match(r'^\d{5}(-\d{4})?$', str(x))) == False)
df_req.loc[invalid_zip_mask, 'zip_code'] = '11111'

df_req

C:\Users\nikhi\AppData\Local\Temp\ipykernel_21468\1551152465.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_req['zip_code'].fillna('11111', inplace=True)
C:\Users\nikhi\AppData\Local\Temp\ipykernel_21468\1551152465.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_req['zip_code'] = df_req['zip_code'].apply(lambda x: x.split('-')[0] if '-' in x else x)

,name,score,ratings,category,price_range,zip_code,category_1
0,PJ Fresh (224 Daniel Payne Drive),NaN,NaN,"Burgers, American, Sandwiches",1,35207,American
1,J' ti`'z Smoothie-N-Coffee Bar,NaN,NaN,"Coffee and Tea, Breakfast and Brunch, Bubble Tea",99,35217,Coffee
2,Philly Fresh Cheesesteaks (541-B Graymont Ave),NaN,NaN,"American, Cheesesteak, Sandwiches, Alcohol",1,35204,American
3,Papa Murphy's (1580 Montgomery Highway),NaN,NaN,Pizza,1,35226,Pizza
4,Nelson Brothers Cafe (17th St N),4.7,22.0,"Breakfast and Brunch, Burgers, Sandwiches",99,35203,Sandwich
...,...,...,...,...,...,...,...
40222,Mangia la pasta! (5610 N Interstate Hwy 35),4.8,500.0,"Pasta, Comfort Food, Italian, Group Friendly",1,78751,Italian
40223,Wholly Cow Burgers (S Lamar),4.6,245.0,"American, Burgers, Breakfast and Brunch, Aller...",1,78704,American
40224,EurAsia Ramen 3,4.7,293.0,"Sushi, Asian, Japanese, Exclusive to Eats, Gro...",1,78756,Asian
40225,Austin's Habibi (5th St),4.7,208.0,"Mediterranean, Gluten Free Friendly, Allergy F...",2,78703,Greek
40226,Beijing Wok,4.4,254.0,"Chinese, Asian, Asian Fusion, Family Friendly,...",1,78749,Asian

In [222]:
category_frequency = df_req.groupby(['zip_code', 'category']).size().reset_index(name='count')
# Sort the DataFrame in descending order based on 'count'
category_frequency_sorted = category_frequency.sort_values(by=['count'], ascending=[False])
category_frequency_sorted

      zip_code                                           category  count
400      11111  Everyday Essentials, Convenience, Home &amp; P...    117
7774     23112  Everyday Essentials, Convenience, Pharmacy, Sn...     61
364      11111                      Burgers, American, Sandwiches     52
464      11111                           Pizza, American, Italian     33
11310    25428  Everyday Essentials, Convenience, Pharmacy, Sn...     26
...        ...                                                ...    ...
12188    35073                    Comfort Food, American, Burgers      1
12187    35072                             BBQ, American, Burgers      1
12186    35071                             Sushi, Asian, Japanese      1
12185    35071       Seafood, Fast Food, Fish and Chips, American      1
35214    99403                                              Pizza      1

[35215 rows x 3 columns]

In [223]:
# Fill NaN values in 'score' and 'ratings' columns with the mean value
mean_score = df_req['score'].mean()
mean_ratings = df_req['ratings'].mean()
df_req['score'].fillna(mean_score, inplace=True)
df_req['ratings'].fillna(mean_ratings, inplace=True)

# Calculate the weighted average rating
df_req['weighted_rating'] = df_req['score'] * df_req['ratings']

# Group by zipcode and category and calculate the sum of weighted ratings and total ratings
grouped = df_req.groupby(['zip_code', 'category_1']).agg({'weighted_rating': 'sum', 'ratings': 'sum'}).reset_index()

# Calculate the weighted average rating
grouped['weighted_average_rating'] = grouped['weighted_rating'] / grouped['ratings']

# Display the new dataset
grouped

C:\Users\nikhi\AppData\Local\Temp\ipykernel_21468\1684210727.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_req['score'].fillna(mean_score, inplace=True)
C:\Users\nikhi\AppData\Local\Temp\ipykernel_21468\1684210727.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_req['ratings'].fillna(mean_ratings, inplace=True)
C:\Users\nikhi\AppData\Local\Temp\ipykernel_21468\1684210727.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_req['weighted_rating'] = df_req['score'] * df_req['ratings']

,zip_code,category_1,weighted_rating,ratings,weighted_average_rating
0,00646,American,3134.786267,687.870989,4.557230
1,00646,Burgers,676.800000,144.000000,4.700000
2,00646,Pizza,460.600000,98.000000,4.700000
3,00646,Sandwich,328.500000,73.000000,4.500000
4,00646,Spanish,57.600000,12.000000,4.800000
...,...,...,...,...,...
10085,99403,Asian,341.486267,74.870989,4.560996
10086,99403,Desserts,682.972534,149.741979,4.560996
10087,99403,Mexican,341.486267,74.870989,4.560996
10088,99403,Other,682.972534,149.741979,4.560996
10089,99403,Pizza,341.486267,74.870989,4.560996

In [225]:
# Find the highest average rating
highest_avg = grouped['weighted_average_rating'].idxmax()
highest_category = grouped.loc[highest_avg, 'category_1']
highest_zip = grouped.loc[highest_avg, 'zip_code']
highest_rating = grouped.loc[highest_avg, 'weighted_average_rating']

# Find the least average rating
least_avg = grouped['weighted_average_rating'].idxmin()
least_category = grouped.loc[least_avg, 'category_1']
least_zip = grouped.loc[least_avg, 'zip_code']
least_rating = grouped.loc[least_avg, 'weighted_average_rating']

print("Highest Average Rating:")
print("Category:", highest_category)
print("Zip Code:", highest_zip)
print("Weighted Average Rating:", highest_rating)

print("\nLeast Average Rating:")
print("Category:", least_category)
print("Zip Code:", least_zip)
print("Weighted Average Rating:", least_rating)

Highest Average Rating:
Category: Japanese
Zip Code: 20006
Weighted Average Rating: 5.0

Least Average Rating:
Category: Chinese
Zip Code: 75038
Weighted Average Rating: 1.9

In [230]:
# Filter the dataset for the "Indian" category
indian_data = grouped[grouped['category_1'] == 'Japanese']

# Calculate the weighted average rating for Indian category
indian_weighted_avg = indian_data['weighted_average_rating'].values[0]

print("Weighted Average Rating for Indian Category:", indian_weighted_avg)

Weighted Average Rating for Indian Category: 4.473126966395028

In [121]:
grouped.to_csv("restaurant_grouped.csv")

In [231]:
grouped

,zip_code,category_1,weighted_rating,ratings,weighted_average_rating
0,00646,American,3134.786267,687.870989,4.557230
1,00646,Burgers,676.800000,144.000000,4.700000
2,00646,Pizza,460.600000,98.000000,4.700000
3,00646,Sandwich,328.500000,73.000000,4.500000
4,00646,Spanish,57.600000,12.000000,4.800000
...,...,...,...,...,...
10085,99403,Asian,341.486267,74.870989,4.560996
10086,99403,Desserts,682.972534,149.741979,4.560996
10087,99403,Mexican,341.486267,74.870989,4.560996
10088,99403,Other,682.972534,149.741979,4.560996
10089,99403,Pizza,341.486267,74.870989,4.560996

In [233]:
grouped[grouped['category_1']=='Other']

,zip_code,category_1,weighted_rating,ratings,weighted_average_rating
5,00917,Other,341.486267,74.870989,4.560996
6,00918,Other,4005.700000,831.000000,4.820337
8,00920,Other,341.486267,74.870989,4.560996
9,00921,Other,289.100000,59.000000,4.900000
17,00924,Other,1593.000000,354.000000,4.500000
...,...,...,...,...,...
10061,99352,Other,1409.786267,299.870989,4.701309
10066,99353,Other,341.486267,74.870989,4.560996
10075,99354,Other,1254.758800,271.612968,4.619657
10083,99362,Other,2048.917601,449.225937,4.560996
10088,99403,Other,682.972534,149.741979,4.560996